# Ignore API keys, environment files, and secrets
.env
secrets.toml
/.streamlit/secrets.toml

# Ignore Python cache
__pycache__/
*.pyc

# Ignore uploaded files
uploaded.pdf

# Ignore OS files
.DS_Store

# Ignore virtual envs
venv/
.env/
